<app-header></app-header>
<div class="background-clor">
  <div class="borders-card">
    <div class="Card-header">
      <div class="row">
        <div class="col-md-7">
          <p class="SuperHead mt-2">Super MSA Account Lists</p>
        </div>
        <div class="col-md-5">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="d-flex">
              <mdb-icon
                fas
                class="download-icon mr-1"
                icon="cloud-download-alt mt-1"
              ></mdb-icon>
              <p class="download-text">Download sheet</p>
            </div>
            <button class="btn btn-primary me-md-2 btn-add" type="button">
              Add Account
            </button>
            <input
              class="btn-search"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </div>
        </div>
      </div>
    </div>
    <table id="tableSortExample" mdbTable class="z-depth-1 table-responsive">
      <thead>
        <tr>
          <th
            *ngFor="let head of headElements; let i = index"
            aria-controls="tableSortExample"
            scope="col"
            [mdbTableSort]="elements"
            [sortBy]="headElements[i]"
          >
            {{ head | titlecase }}
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of elements; let i = index">
          <th scope="row">
            <mdb-icon class="plus-icon" fas icon="plus-circle"></mdb-icon
            >{{ el.ApplicationName }}
          </th>
          <td>
            <span
              class="badge bg-{{ el.UserName === 'MaryDona' ? 'success' : '' }}"
            >
              {{ el.UserName }}
            </span>
          </td>
          <!-- <td>{{ el.UserName }}</td> -->
          <td>
            <span
              class="badge bg-{{ el.NetBalance === 'INR' ? 'primary' : '' }}"
            >
              {{ el.NetBalance }}
            </span>
          </td>
          <!-- <td>{{ el.NetBalance }}</td> -->
          <td>{{ el.RegDate }}</td>
          <td>
            <span
              class="badge bg-{{ el.Status === 'ACTIVE' ? 'primary' : '' }}"
            >
              {{ el.Status }}
            </span>
          </td>
          <!-- <td>{{ el.Status }}</td> -->
          <td>{{ el.BalanceinCompanyCurrency }}</td>
          <td>{{ el.Balance }}</td>
          <td>{{ el.MSATotalBalance }}</td>
          <td>{{ el.SuperTotalBalance }}</td>
          <td>
            <span class="badge bg-{{ el.Credit === '0.00' ? 'primary' : '' }}">
              {{ el.Credit }}
            </span>
          </td>
          <!-- <td>{{ el.Credit }}</td> -->
          <td>{{ el.SettingBalance }}</td>
          <td>
            <span
              class="badge bg-{{ el.DealCurrency === 'INR' ? 'primary' : '' }}"
            >
              {{ el.DealCurrency }}
            </span>
          </td>
          <!-- <td>{{ el.DealCurrency }}</td> -->
          <td>
            <span class="badge bg-{{ el.DealRate === '10%' ? 'success' : '' }}">
              {{ el.DealRate }}
            </span>
          </td>
          <!-- <td>{{ el.DealRate }}</td> -->
          <td>{{ el.BalanceinDealCurrency }}</td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="text-right">TOTAL</div>
          </td>
          <td colspan="2"><div class="text-right">3,325,100.00</div></td>
          <td>9,409.447.00</td>
          <td>8,890,887.00</td>
          <td>14,000,000.00</td>
          <td>-4,965,330.00</td>
          <td colspan="2"><div class="text-right">-992,130.00</div></td>
        </tr>
      </tbody>
    </table>
    <nav class="py-1 mt-3">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
