/* You can add global styles to this file, and also import other style files */

// body {
//   background-color: black;
// }
.text-poppy-red {
  color: #ef5350 !important;
}
.btn-poppy-red {
  background-color: #ef5350 !important;
}
.bg-poppy-red {
  background-color: #ef5350 !important;
}
.table th {
  font-size: 0.8rem;
}
.table {
  color: white !important;
}
.page-link {
  color: white !important;
}
.unique-color {
  background-color: #37474f !important;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  padding-right: 30px !important;
}
